@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6; 
  margin: 0;
}

/* Add this to your global CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

.input {
  @apply w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}